<div>
  <label for="password" class="form-label">Password: </label>
  <input id="password" type="password" [(ngModel)]="password" name="password" aria-labelledby="passwordHelpBlock" required>
  <div *ngIf="isValid !== undefined">
    <p *ngIf="isValid">Valid password</p>
    <p *ngIf="!isValid">Invalid password</p>
  </div>
  <hr/>
  <button class="btn btn-primary" tooltip="Click to check your password" (click)="checkPassword()">Check Password</button>
  <div id="passwordHelpBlock" class="form-text">
    *Your password must be 9-20 characters long, contain letters and numbers, and must not contain spaces, other special characters than these !@#$%^&*()-+, or emoji.
  </div>
</div>
