<main class="form-signin w-100 m-auto">
<form>
  <h1 class="h3 mb-3 fw-normal">Please fill in</h1>

  <div class="form-floating">
    <input id="floatingPassword" type="password" class="form-control" [(ngModel)]="password" name="password" aria-labelledby="passwordHelpBlock" required>
    <div *ngIf="isValid !== undefined">
      <p *ngIf="isValid">Valid password</p>
      <p *ngIf="!isValid">Invalid password</p>
    </div>
    <label for="floatingPassword">Password</label>
  </div>

  <hr/>

  <button class="btn btn-lg btn-primary" tooltip="Click to check your password" (click)="checkPassword()">Check Password</button>
  <div id="passwordHelpBlock" class="form-text">
    *Your password must be 9-20 characters long, contain letters and numbers, and must not contain spaces, other special characters than these !@#$%^&*()-+, or emoji.
  </div>

  <p class="mt-5 mb-3 text-body-secondary">&copy; 2023</p>

</form>
</main>
